
@{
    ViewBag.Title = "NoAccess";
}

<h2>NoAccess</h2>
<div class="row">
    <div class="col-md-6">
        <img src="~/accessdenied.jpg" />
    </div>
    <div class="col-md-6">
        If you feel you have reached this page in error then please contact your manager. 
    </div>
</div>


